<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>

    <script>
     function updateGrandTotal() {

     const checkboxes = document.getElementsByName("selected_product");
    let grandTotal = 0;

    checkboxes.forEach(item => {
        if (item.checked) {
            grandTotal += parseFloat(item.dataset.total);
        }
    });

    document.getElementById("grandTotal").innerText = grandTotal.toFixed(2);
}
</script>

</head>

<body>

<h2>Your Cart</h2>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p style="color:red;">{{ message }}</p>
    {% endfor %}
{% endwith %}

{% if not cart %}

    <p>Your cart is empty.</p>
    <a href="/user/products">Shop Now</a>

{% else %}

<form action="/user/pay" method="POST">

<table border="1" cellpadding="10">

    <tr>
        <th>Select</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
    </tr>

    {% for pid, item in cart.items() %}

    <tr>

       <td>
            <input
                type="checkbox"
                name="selected_product"
                value="{{ pid }}"
                data-total="{{ item.price * item.quantity }}"
                onclick="updateGrandTotal()">
        </td>
        <td>
            <img src="/static/uploads/product_images/{{ item.image }}"
                 width="80">
        </td>

        <td>{{ item.name }}</td>

        <td>₹{{ item.price }}</td>

        <td>
            <a href="/user/cart/decrease/{{ pid }}">-</a>

            {{ item.quantity }}

            <a href="/user/cart/increase/{{ pid }}">+</a>
        </td>

        <td>
            ₹{{ item.price * item.quantity }}
        </td>

        <td>
            <a href="/user/cart/remove/{{ pid }}">Remove</a>
        </td>

    </tr>

    {% endfor %}

</table>

<br>

<h3>
    Grand Total: ₹<span id="grandTotal">0.00</span>
</h3>


<br><br>
<a href="/user/address">Proceed to Pay</a><br><br>

<a href="/user/products">
    Continue Shopping
</a>

</form>

{% endif %}

</body>
</html>